@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
.c-page-body {
  display: flex;
  justify-content: center; }
  .c-page-body .c-page-body--inner {
    width: 1350px; }

.c-main-title {
  display: flex;
  justify-content: center;
  font-size: 5vw;
  text-shadow: 2px 2px rgba(255, 161, 153, 0.31);
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase; }

.c-product-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap; }
  .c-product-container .c-product {
    margin: 10;
    position: relative;
    height: 250px;
    width: 250px;
    cursor: pointer; }
    .c-product-container .c-product .c-product-images {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
      .c-product-container .c-product .c-product-images .c-product-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-transition: opacity 0.4s ease-in;
        -moz-transition: opacity 0.4s ease-in;
        -ms-transition: opacity 0.4s ease-in;
        -o-transition: opacity 0.4s ease-in;
        transition: opacity 0.4s ease-in;
        height: 100%;
        width: 100%;
        background: center no-repeat;
        background-size: cover; }
        .c-product-container .c-product .c-product-images .c-product-image.__first {
          opacity: 1; }
        .c-product-container .c-product .c-product-images .c-product-image.__second {
          opacity: 0; }
    .c-product-container .c-product:hover .c-product-image.__first {
      opacity: 0; }
    .c-product-container .c-product:hover .c-product-image.__second {
      opacity: 1; }

.c-breadcrumb .c-breadcrumb--item {
  padding-right: 10; }
  .c-breadcrumb .c-breadcrumb--item:after {
    content: ''; }
  .c-breadcrumb .c-breadcrumb--item:last-child:after {
    content: '>'; }

.c-product-image-section .c-main-product-image-outer {
  flex: 1;
  display: flex;
  justify-content: center;
  max-height: 600px;
  margin-bottom: 20; }
  .c-product-image-section .c-main-product-image-outer img {
    max-width: 100%;
    height: 100%; }
.c-product-image-section .variation-container {
  float: left;
  width: 80;
  height: 80;
  margin-right: 10;
  margin-bottom: 10;
  overflow: hidden;
  -webkit-transition: box-shadow 0.2s ease-in, border-radius 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in, border-radius 0.2s ease-in;
  -ms-transition: box-shadow 0.2s ease-in, border-radius 0.2s ease-in;
  -o-transition: box-shadow 0.2s ease-in, border-radius 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, border-radius 0.2s ease-in; }
  .c-product-image-section .variation-container.selected {
    box-shadow: 0 0 0 2px #2bd0ff; }
  .c-product-image-section .variation-container:nth-child(even).selected {
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px; }
  .c-product-image-section .variation-container:nth-child(odd).selected {
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px; }
  .c-product-image-section .variation-container img {
    max-width: 100%;
    max-height: 100%; }
