html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000; }

h1, h2, h3, h4, h5, p, a, b, i {
  color: #ecffa3;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

a:active {
  color: #ecffa3;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #d7ff3d; }

.c-page-body {
  padding: 8px; }
  .c-page-body .c-nav p {
    font-size: 6rem;
    text-transform: uppercase; }
  .c-page-body .c-nav .c-nav--items ul {
    list-style: none;
    margin-left: 0;
    padding: 0; }
    .c-page-body .c-nav .c-nav--items ul li {
      color: #ecffa3;
      display: inline;
      padding: 8px;
      font-size: 2rem; }

.c-blog-list {
  display: flex;
  flex-wrap: wrap; }
  .c-blog-list .c-blog-post {
    width: 240px;
    height: 150px;
    overflow: hidden;
    flex-grow: 1;
    background-position: center;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #dae0d1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative; }
    .c-blog-list .c-blog-post .c-blog-post--title {
      position: absolute;
      bottom: 8px;
      left: 8px;
      color: #dae0d1; }
    .c-blog-list .c-blog-post .c-blog-post--link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
