html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000; }

h1, h2, h3, h4, h5, p, a, b, i {
  color: #ffeea0;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

a:active {
  color: #ffeea0;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #ffdc3a; }

.c-page-body {
  padding: 16px; }
  .c-page-body .c-nav p {
    font-size: 6rem;
    text-transform: uppercase; }
  .c-page-body .c-nav .c-nav--items ul {
    list-style: none;
    margin-left: 0;
    padding: 0; }
    .c-page-body .c-nav .c-nav--items ul li {
      color: #ffeea0;
      display: inline;
      padding: 16px;
      font-size: 2rem; }

.c-blog-list {
  display: flex;
  flex-wrap: wrap; }
  .c-blog-list .c-blog-post {
    width: 400px;
    height: 240px;
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 30%;
    background-position: center;
    margin-right: 32px;
    margin-bottom: 32px;
    padding: 16px;
    border: 1px solid white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative; }
    .c-blog-list .c-blog-post:hover .c-blog-post--title {
      opacity: 1; }
    .c-blog-list .c-blog-post:hover .c-blog-post--image {
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      opacity: 0.2;
      filter: blur(5px);
      -webkit-filter: blur(5px); }
    .c-blog-list .c-blog-post .c-blog-post--image {
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -moz-transition: transform 0.2s, opacity 0.2s, filter 0.2s;
      -o-transition: transform 0.2s, opacity 0.2s, filter 0.2s;
      -webkit-transition: transform 0.2s, opacity 0.2s, filter 0.2s;
      transition: transform 0.2s, opacity 0.2s, filter 0.2s; }
    .c-blog-list .c-blog-post .c-blog-post--title {
      position: absolute;
      bottom: 16px;
      left: 16px;
      color: white;
      font-size: 3rem;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
      opacity: 0;
      -moz-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      -webkit-transition: opacity 0.2s;
      transition: opacity 0.2s; }
    .c-blog-list .c-blog-post .c-blog-post--link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
