@media screen and (max-width: 766px) {
  .c-page-body {
    padding:$basePadding / 4;
  }

  .c-full-mobile {
    width:100%;
  }

  .row {
    margin-left:0;
    margin-right:0;
  }

  .c-product-image-section {
    .c-main-product-image-outer {
      flex: 1;
      display: flex;
      justify-content: center;
      max-height: 300px;
    }
  }
}