$basePadding:40px;
$blue: #2bd0ff;

@mixin fill-absolute() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin product-hover {
  .c-product-images {
    @include fill-absolute;

    .c-product-image {
      @include fill-absolute;
      @include transition(opacity 0.4s ease-in);

      height: 100%;
      width: 100%;
      background:center no-repeat;
      background-size: cover;

      &.__first {
        opacity: 1;
      }
      &.__second {
        opacity: 0;
      }
    }

    &:hover {
      .c-product-image.__first {
        opacity:0;
      }
      .c-product-image.__second {
        opacity:1;
      }
    }
  }
}

@import url('https://fonts.googleapis.com/css?family=Quicksand');

h1, h2, h3, h4, h5, h6, p, span, b, div, i, u, button {
  font-family: 'Quicksand', sans-serif;
}

.c-page-body {
  display: flex;
  justify-content: center;
  .c-page-body--inner {
    width:1350px;
  }
};

.c-main-title {
  display: flex;
  justify-content: center;
  font-size: 5vw;
  text-shadow: 2px 2px rgba(255, 161, 153, 0.31);
  text-transform: uppercase;
}

.c-product-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  .c-product {
    margin: $basePadding / 4;
    position: relative;
    height: 250px;
    width: 250px;
    cursor: pointer;
    @include product-hover
  }
}

.c-breadcrumb {
  .c-breadcrumb--item {
    &:after {
      content: '';
    }
    &:last-child:after {
      content: '>';
    }
    padding-right: $basePadding / 4;
  }
}

.c-product-image-section {
  .c-main-product-image-outer {
    flex: 1;
    display: flex;
    justify-content: center;
    max-height:600px;
    img {
      max-width: 100%;
      height: 100%;
    }
    margin-bottom:$basePadding / 2;
  }

  .variation-container {
    float: left;
    width: $basePadding * 2;
    height: $basePadding * 2;
    margin-right:$basePadding / 4;
    margin-bottom:$basePadding / 4;
    overflow: hidden;

    @include transition((box-shadow 0.2s ease-in, border-radius 0.2s ease-in));

    &.selected {
      box-shadow: 0 0 0 2px $blue;
    }

    &:nth-child(even).selected {
      -webkit-border-top-right-radius: 15px;
      -webkit-border-bottom-left-radius: 15px;
      -moz-border-radius-topright: 15px;
      -moz-border-radius-bottomleft: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
    }

    &:nth-child(odd).selected {
      -webkit-border-top-left-radius: 15px;
      -webkit-border-bottom-right-radius: 15px;
      -moz-border-radius-topleft: 15px;
      -moz-border-radius-bottomright: 15px;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    img {
      max-width:100%;
      max-height:100%;
    }
  }
}

.c-search-product--row {
  margin-bottom:$basePadding;
  height: 200px;
  .c-product-images {
    height: 200px;
  }
  @include product-hover();
}

.button {
  background-color: transparent;
  border:1px solid $blue;
  padding: $basePadding / 4;
  font-weight: bold;
}

.u-margin--left {
  margin-left:$basePadding / 2;
}

.u-margin--right {
  margin-right: $basePadding / 2;
}

.u-margin--bottom {
  margin-bottom: $basePadding / 2;
}

.u-margin--top {
  margin-top: $basePadding / 2;
}