$basePadding: 40px;
$inputFontSize: 15px;
$blue: #2bd0ff;
$pageWidth: 1650px;

@mixin fill-absolute() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin product-hover {
  .c-product-images {
    @include fill-absolute;

    .c-product-image {
      @include fill-absolute;
      @include transition(opacity 0.4s ease-in);

      height: 100%;
      width: 100%;
      background: center no-repeat;
      background-size: cover;

      &.__first {
        opacity: 1;
      }
      &.__second {
        opacity: 0;
      }
    }

    &:hover {
      .c-product-image.__first {
        opacity: 0;
      }
      .c-product-image.__second {
        opacity: 1;
      }
    }
  }
}

@import url('https://fonts.googleapis.com/css?family=Quicksand');

h1, h2, h3, h4, h5, h6, p, span, b, div, i, u, button {
  font-family: 'Quicksand', sans-serif;
  color: white;
}

a {
  color: $blue;
  * {
    color: $blue;
  }
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100%;

  .c-page-body {
    max-width: $pageWidth;
    width:100%;
    background-color: black;

    .c-page-body--inner {
      width: 100%;
      .c-content {
        background-color: rgba(0, 0, 0, 0.68);
        border: 5px dashed rgba(0, 0, 0, 0.68);
        width: 100%;
        margin-top: $basePadding;
        padding: $basePadding*2;
      }
    }

    .c-title-box {
      display: flex;
      justify-content: center;
      font-size: 6vw;
      text-shadow: 2px 2px rgba(255, 161, 153, 0.31);
      text-transform: uppercase;
      position: relative;
      width: 100%;
      background-color: white;

      padding-top: $basePadding*2;
      padding-bottom: $basePadding*2;

      .c-title-box--logo {
        max-height: 250px;
        z-index: 5;
        opacity: .9;
      }

      .c-title--background {
        @include fill-absolute();
        width: 100%;
        height: 100%;
        background: url('/static/images/logo/riga.png') no-repeat top;
        background-position-y: center;
        background-size: cover;
        z-index: 2;
      }
    }
  }
}

;

.c-product-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  .c-product {
    margin: $basePadding / 4;
    position: relative;
    height: 250px;
    width: 250px;
    cursor: pointer;
    @include product-hover
  }
}

.c-breadcrumb {
  .c-breadcrumb--item {
    &:after {
      content: '';
    }
    &:last-child:after {
      content: ' >';
    }
    padding-right: $basePadding / 8;
  }
}

.c-product-image-section {
  .c-main-product-image-outer {
    flex: 1;
    display: flex;
    justify-content: center;
    max-height: 600px;
    .product-image-view {
      width: 100%;
      height: 400px;
      display: block;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @include transition((background-image 0.2s ease-in));
    }
    margin-bottom: $basePadding / 2;
  }

  .variation-container {
    float: left;
    width: $basePadding * 2;
    height: $basePadding * 2;
    margin-right: $basePadding / 4;
    margin-bottom: $basePadding / 4;
    overflow: hidden;

    @include transition((box-shadow 0.2s ease-in, border-radius 0.2s ease-in));

    &.selected {
      box-shadow: 0 0 0 1px $blue;
    }

    &:nth-child(even).selected {
      -webkit-border-top-right-radius: 15px;
      -webkit-border-bottom-left-radius: 15px;
      -moz-border-radius-topright: 15px;
      -moz-border-radius-bottomleft: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
    }

    &:nth-child(odd).selected {
      -webkit-border-top-left-radius: 15px;
      -webkit-border-bottom-right-radius: 15px;
      -moz-border-radius-topleft: 15px;
      -moz-border-radius-bottomright: 15px;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.c-search-product--row {
  margin-bottom: $basePadding;
  height: 200px;
  .c-product-images {
    height: 200px;
  }
  @include product-hover();
}

input[type="text"] {
  background-color: transparent;
  border: 1px solid $blue;
  font-size: $inputFontSize;
  height: 40px;
  font-weight: bold;
  padding: $basePadding / 4;
}

.button {
  background-color: transparent;
  border: 1px solid $blue;
  padding: $basePadding / 4;
  font-weight: bold;
  height: 40px;
  font-size: $inputFontSize;

  &.button--full {
    width: 100%;
  }

  @include transition((box-shadow 0.1s ease-in));

  &:hover {
    -webkit-box-shadow: 0px 0px 5px $blue;
    -moz-box-shadow: 0px 0px 5px $blue;
    box-shadow: 0px 0px 5px $blue;
  }
}

.dropdown {
  border: 1px solid $blue;
  font-size: $inputFontSize;
  background-color: transparent;
  height: 40px;

  &.dropdown-full {
    width: 100%;
  }
}

.u-margin--left {
  margin-left: $basePadding / 2;
}

.u-margin--right {
  margin-right: $basePadding / 2;
}

.u-margin--bottom {
  margin-bottom: $basePadding / 2;
}

.u-margin--top {
  margin-top: $basePadding / 2;
}

.c-video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  video {
    min-width: 100vw;
    min-height: 100vh;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.81);
    content: "";
  }
}

@import "mobile";